:root {
    --black: #141414;
    --white: #FFFFFF;
    --gray: #444444;
    --dark-white: #E8E8E8;
}

/* 
-----------------------------------------------------
Footer
-----------------------------------------------------
*/
.footer {
    background: var(--black);
    color: var(--white);
}

.footer .footer__block-list {
    justify-content: space-between;
}

.footer .text-subdued {
    color: var(--white);
}

.footer .footer__aside-bottom {
    justify-content: center;
}

.footer .social-media {
    justify-content: flex-end;
}

.footer .footer__newsletter-form {
    max-width: initial;
}

.footer .footer__newsletter-form .input {
    background: var(--gray);
}

.footer .circle-chevron {
    background: var(--dark-white);
    color: var(--black);
}

/* 
-----------------------------------------------------
sections/multiple-images-with-text.liquid
-----------------------------------------------------
*/
.multiple-images-with-text {
    position: relative;
}

.multiple-images-with-text__h2 {
    position: absolute;
    top: -60px;
    left: 8%;
}

@media (max-width: 2560px) {
    .multiple-images-with-text__h2 {
        left: 9%;
    }
}

@media (max-width: 1460px) {
    .multiple-images-with-text__h2 {
        left: 8%;
    }
}

@media (max-width: 1200px) {
    .multiple-images-with-text__h2 {
        left: 6.6%;
    }
}

@media (max-width: 1150px) {
    .multiple-images-with-text__h2 {
        left: 2.5%;
    }
}

@media (max-width: 1090px) {
    .multiple-images-with-text__h2 {
        left: 1%;
    }
}

@media (max-width: 1000px) {
    .multiple-images-with-text__image-list {
        display: flex;
    }

    .multiple-images-with-text__h2 {
        left: 0;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .multiple-images-with-text__h2 {
        top: 40px;
    }
}